.tabs-active-border{
    box-shadow: 0 -2px 0 0 $pgs-orange inset;
}

.header{
  padding-top: 38px;
  background: white;
  border-bottom:1px solid #dbdbdb;

  ul.tabs{
    background: transparent;
    margin-bottom: -1px;
    margin-top: 24px;
    li+li{
      @media screen and (min-width:360px){
        margin-left:56px;
      }
      margin-left:20px;
    }
    a, a:hover, a:focus, a:active{
      padding: 10px 0;
      border-bottom-width: 2px;
      color: inherit;
      background: transparent;
    }

    a:hover{
      @extend .tabs-active-border;
    }

    .tabs-title.is-active a{
      color: $pgs-orange;
      @extend .tabs-active-border;
    }
  }
}
