<div class="row">
  <div class="small-12 large-4 columns">
    <div class="card">
      <img src="../../images/about1.png" class="medium-6 large-12 small-12" alt />
      <div class="card-section card-section medium-6 large-12 column">
        <h4>Lorem ipsum dolor.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima.</p>
      </div>
    </div>
  </div>
  <div class="small-12 large-4 columns">
    <div class="card">
      <img src="../../images/about2.png" class="medium-6 large-12 small-12" alt />
      <div class="card-section medium-6 large-12 column">
        <h4>Lorem ipsum dolor.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima.</p>
      </div>
    </div>
  </div>
  <div class="small-12 large-4 columns">
    <div class="card">
      <img src="../../images/about3.png" class="medium-6 large-12 small-12" alt />
      <div class="card-section card-section medium-6 large-12 column">
        <h4>Lorem ipsum dolor.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima.</p>
      </div>
    </div>
  </div>
</div>
