<div class="row">
  <div class="small-12 medium-7 large-6 float-center">
    <div class="card card-section">
      <div class="contact-error-messages text-body-1" ng-if="appCtrl.contactForm.$submitted && appCtrl.contactForm.$invalid">
        <div ng-if="appCtrl.contactForm.$error.required">{{::'contact.error.required' | translate}}</div>
        <div ng-if="appCtrl.contactForm.$error.email">{{::'contact.error.email' | translate}}</div>
      </div>

      <form novalidate name="appCtrl.contactForm" class="contact-form">
        <div>
          <input ng-model="appCtrl.contact.name" type="text" id="name" class="with-floating-label" required>
          <label for="name" class="floating-label">{{::'contact.name'|translate}} <span>*</span></label>
        </div>

        <div>
          <input ng-model="appCtrl.contact.email" type="email" id="mail" class="with-floating-label" required>
          <label for="mail" class="floating-label">{{::'contact.email'|translate}} <span>*</span></label>
        </div>

        <div>
          <textarea ng-model="appCtrl.contact.message" rows="3" id="message" placeholder="{{::'contact.message'|translate}}"></textarea>
        </div>
        <div class="text-right">
          <button class="button secondary ink" type="submit">{{::'contact.send'|translate}}</button>
        </div>
      </form>
    </div>
  </div>

</div>
